<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}public/css/minified.css"> -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/sam_specific.css">


  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}public/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}public/favicon-32x32.png?v=2" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}public/favicon-16x16.png?v=2" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}public/manifest.json?v=2">
  <link rel="mask-icon" href="{{ site.baseurl }}public/safari-pinned-tab.svg?v=2" color="#263238">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico?v=2">
  <meta name="apple-mobile-web-app-title" content="Sam Hinshaw">
  <meta name="application-name" content="Sam Hinshaw">
  <meta name="msapplication-config" content="{{ site.baseurl }}public/browserconfig.xml?v=2">
  <meta name="theme-color" content="#546E7A">
  <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface"> -->

  <!-- Icons -->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
