<div class="sidebar">
  <div class="container sidebar-sticky"> <!-- <div class="container sidebar-sticky"> to make the sidebar anchor to the bottom -->
    <div class="sidebar-about">
      <img class="avatar" src="{{ site.baseurl }}public/sam.jpg" height="200px" width="200px" alt="me">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <div class="lead">
        <img src="{{ site.baseurl }}public/computer.png" height="25px" width = "25px" alt="tech">
        <img src="{{ site.baseurl }}public/cat.png"      height="25px" width = "25px" alt="cats">
        <img src="{{ site.baseurl }}public/coffee.png"   height="25px" width = "25px" alt="coffee">
        <!-- {{ site.description }} -->
        <p class="tagline">Passionate about tech, science, and development. Graduate Student at UBC.</p>
      </div>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        Trying out-of-line if-else statement because inline is not working.
      {% endcomment %}

      {% if page.layout == 'post_listing' %}
      <a class="sidebar-nav-item active" href="{{ site.baseurl }}posts">Posts</a>
      {% else %}
      <a class="sidebar-nav-item" href="{{ site.baseurl }}posts">Posts</a>
      {% endif %}

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>
